[submodule "lib/link"]
	path = lib/link
	url = https://github.com/Ableton/link.git
[submodule "vendor/link"]
	path = vendor/link
	url = https://github.com/Ableton/link.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
